/* -----------------SETUP PAGE */
@media only screen and (max-width:870px) {
    .setup-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #btn1,
    #btn2,
    #btn3,
    #btn4,
    #btn5 {
        width: 100% !important;
    }

}

/* ------------------------------------------------------- */