@media only screen and (max-width:1080px) {

    .blink,
    .instruction {
        opacity: 0;
        display: hidden;
        justify-content: space-between;
        align-items: center;
    }

}

@media only screen and (max-width:980px) {

    .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        width: 100%;
    }
}